SIGNALWIRE_PROJECT_KEY=YOURPROJECTKEY
SIGNALWIRE_TOKEN=YOURTOKEN
SIGNALWIRE_SPACE=YOURSPACE.signalwire.com
DEFAULT_DESTINATION=SOMETARGET

#Firebase Initilization Params
FIREBASE_API_KEY=<foo>
FIREBASE_AUTH_DOMAIN=<foo>
FIREBASE_PROJECT_ID=<foo>
FIREBASE_STORAGE_BUCKET=<foo>
FIREBASE_MESSAGING_SENDER_ID=<foo>
FIREBASE_APP_ID=<foo>
FIREBASE_MEASUREMENT_ID=<foo>
FIREBASE_VAPID_KEY=<foo>
