name: Release Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

    - name: DigitalOcean App Platform deployment
      uses: digitalocean/app_action@v1.1.5
      with:
        app_name: ${{ secrets.PROD_APP_NAME }}
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
